<div id="blog1">  
    <div id="blog2">
             <h2><b>About</b>&nbsp;<h3><b>Blogs</b></h3></h2>
             <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>

</div>
<div id="blog3">
             <video width="400" controls>
                             <source src="mov_bbb.mp4" type="video/mp4">
                             Your browser does not support HTML5 video.
                           </video>
             
</div>
</div>
