
<!-- Swiper -->
<div class="swiper-container swiper1" >
  <div class="swiper-wrapper">
      <div class="swiper-slide"  *ngFor="let item of slides">
          <div id="abc1">
            <h2><b>About</b>&nbsp;<h3><b>Company</b></h3></h2>
            <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img id = "abc"  [src]="item" alt="">
      </div>
      <div class="swiper-slide" *ngFor="let item of slide">
        <img id = "abc" [src]="item" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div id="abc2">
            <h4><b>Miligen stands for "Millennial Generation"</b> </h4>
            <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
          </div>
      </div>
      <div class="swiper-slide" *ngFor="let item of slides">
          <div id="abc1">
            <h2><b>About</b>&nbsp;<h3><b>Company</b></h3></h2>
            <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img id = "abc"  [src]="item" alt="">
      </div>
      <div class="swiper-slide" *ngFor="let item of slide">
          <img id = "abc" [src]="item" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div id="abc2">
              <h4><b>Miligen stands for "Millennial Generation"</b> </h4>
              <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
            </div>
        </div>
        
    </div>
     <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination1"></div>
  
</div>

<div class="swiper-container swiper2"  (mouseover)="fireevent1();" (mouseleave)="nonfire1()">
<div class="swiper-wrapper" >
  
    <div class="swiper-slide" data-id="s2" *ngFor="let item of slides1">
       
        <div id="abc1">
            <h4 id="abc3"><b>Mission of the company</b> </h4>
          <p id="abc3">Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img id = "abc"  [src]="item" alt="">
    </div>
    <div class="swiper-slide" data-id="s2" *ngFor="let item of slides2">
       
      <img id = "abc" [src]="item" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="abc2">
          <h4 id="abc3"><b>Break the social cognitive Biases about carrer choices</b> </h4>
          <p id="abc3">Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
        </div>
    </div>
    <div class="swiper-slide" data-id="s2" *ngFor="let item of slides3">
   
        <div id="abc1">
            <h4 id="abc3"><b>Alternate Ecosystem to imcompetent Education system for  information age</b> </h4>
          <p id="abc3">Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img id = "abc"  [src]="item" alt="">
    </div>
    <div class="swiper-slide" data-id="s2" *ngFor="let item of slides4">
        
        <img id = "abc" [src]="item" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div id="abc2">
              <h4 id="abc3"><b>Provide future gurantee and satisfaction</b> </h4>
            <p id="abc3"> Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
          </div>
      </div>
      <div class="swiper-slide" data-id="s2" *ngFor="let item of slides5">
          
        <div id="abc1">
            <h4 id="abc3"><b>No more unsatisfied and uphappy jobs for future growth</b> </h4>
          <p id="abc3">Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img id = "abc"  [src]="item" alt="">
    </div>
  </div>
  <div class="swiper-pagination swiper-pagination2"></div>
  
</div>


<div class="swiper-container swiper3" >
<div class="swiper-wrapper">
    <div class="swiper-slide"  *ngFor="let item of slides1">
        <div id="abc1">
          <h2><b>Our</b>&nbsp;<h3><b>Product</b></h3></h2>
          <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img id = "abc"  [src]="item" alt="">
    </div>
    <div class="swiper-slide" *ngFor="let item of slides2">
      <img id = "abc" [src]="item" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="abc2">
          <h4><b>End-to-End Career Assistance</b> </h4>
          <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
        </div>
    </div>
    <div class="swiper-slide" *ngFor="let item of slides3">
        <div id="abc1">
          <h4><b>Not Career councelling it is much more</b> </h4>
          <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img id = "abc"  [src]="item" alt="">
    </div>
    <div class="swiper-slide" *ngFor="let item of slides4">
        <img id = "abc" [src]="item" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div id="abc2">
            <h2><b>The Step To</b>&nbsp;<h3><b>Success</b></h3></h2>
            <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
          </div>
      </div>
      <div class="swiper-slide" *ngFor="let item of slides5">
        <div id="abc1">
          <h2><b>Become</b>&nbsp;<h3><b>Successful</b></h3></h2>
          <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img id = "abc"  [src]="item" alt="">
    </div>
  </div>
  <div class="swiper-pagination swiper-pagination3"></div>
  
</div>

<div class="swiper-container swiper4" >
<div class="swiper-wrapper">
  <div class="swiper-slide" >
    <div id="abc12">
      <img id="pqr" src={{imagesrc}}>
      <hr><p id="abc121">Name: Kamini
        </p><p>Position : Developer</p>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div id="abc12">
        <img id="pqr" src={{imagesrc}}>
        <hr><p id="abc121">Name: Kamini
        
      </p><p>Position : Developer</p>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div id="abc12">
        <img id="pqr" src={{imagesrc}}>
        <hr><p id="abc121">Name: Kamini
        
          </p><p>Position : Developer</p>
    </div>
  </div>
 
</div>
</div>
<img id="footerimg" src={{imagesrc1}}>
<div id="pqr12">

<div id="footer1">
<h5><b>NAVIGATION</b></h5><br>
<ul>
<li><a [routerLink]="['/register']">Sign Up</a></li>&nbsp;
<li><a [routerLink]="['/aboutus']">About Us</a></li><br>
<li><a [routerLink]="['/order']">How It Works</a></li><br>
<li><a [routerLink]="['/register']">Blogs</a></li><br>
 <li><a [routerLink]="['/home']">Career</a></li><br>
 <li><a [routerLink]="['/order']">Contact Us</a></li><br>
</ul>
</div>
<div id="footer2">
    <h5><b>LEGAL</b></h5><br>
    <ul>
    <li>Privacy</li>
    <br>
   <li>Policy</li><br>
    <li>Copyright</li><br>
    <li>Terns & Conditions</li><br>
    </ul>
    </div>
    <div id="footer3">
        <h5><b>SOCIAL MEDIA</b></h5><br>
        <ul>
        <li>Twitter</li>
        <br>
       <li>Instagram</li><br>
        <li>Facebook</li><br>
        </ul>
        </div>
        <div id="footer4">
            <h5 id="stay"><b>STAY CONNECTED
            </b></h5><br>
            <p id="stay1">Subscribe for our newsletter.When you do it
              it you get akk news before everyone.You will be announced about site updates,new carrers etc.
            </p>
            </div>
</div>
