<div class="container">
  <div class="swiper-container swiper1" >
    <div class="swiper-wrapper">
      <div class="swiper-slide"  *ngFor="let item of slides">
        <div id="abc1">
          <h2><b>About<span> Company</span></b></h2>
          <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img id = "abc"  [src]="item" alt="">
      </div>
      <div class="swiper-slide" *ngFor="let item of slide">
        <img id = "abcimg" [src]="item" alt="">&nbsp;&nbsp;
        <div id="abc2">
          <h4><b>Miligen stands for "Millennial Generation"</b> </h4>
          <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
        </div>
        </div>
        <div class="swiper-slide"  *ngFor="let item of slides">
          <div id="abc1">
            <h2><b>About<span> Company</span></b></h2>
            <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img id = "abc"  [src]="item" alt="">
        </div>
        <div class="swiper-slide" *ngFor="let item of slide">
          <img id = "abcimg" [src]="item" alt="">&nbsp;&nbsp;
          <div id="abc2">
            <h4><b>Miligen stands for "Millennial Generation"</b> </h4>
            <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
          </div>
        </div>
    </div>
    <div class="swiper-pagination swiper-pagination1"></div>
  </div>
</div>
<div class="container">
    <div class="swiper-container swiper2"  (mouseover)="fireevent1();" (mouseleave)="nonfire1()">
        <div class="swiper-wrapper" >
          
            <div class="swiper-slide" data-id="s2" *ngFor="let item of slides1">
               
                <div id="abc1">
                    <h4 id="abc3"><b>Mission of the company</b> </h4>
                  <p >Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img id = "abc"  [src]="item" alt="">
            </div>
            <div class="swiper-slide" data-id="s2" *ngFor="let item of slides2">
               
              <img id = "abc" [src]="item" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div id="abc2">
                  <h4 id="abc3"><b>Break the social cognitive Biases about carrer choices</b> </h4>
                  <p >Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
                </div>
            </div>
            <div class="swiper-slide" data-id="s2" *ngFor="let item of slides3">
           
                <div id="abc1">
                    <h4 id="abc3"><b>Alternate Ecosystem to imcompetent Education system for  information age</b> </h4>
                  <p >Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img id = "abc"  [src]="item" alt="">
            </div>
            <div class="swiper-slide" data-id="s2" *ngFor="let item of slides4">
                
                <img id = "abc" [src]="item" alt="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div id="abc2">
                      <h4 id="abc3"><b>Provide future gurantee and satisfaction</b> </h4>
                    <p > Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
                  </div>
              </div>
              <div class="swiper-slide" data-id="s2" *ngFor="let item of slides5">
                  
                <div id="abc1">
                    <h4 id="abc3"><b>No more unsatisfied and uphappy jobs for future growth</b> </h4>
                  <p >Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\
                <img id = "abc"  [src]="item" alt="">
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination2"></div>
          
      </div>
      
</div>
<div class="container">
    <div class="swiper-container swiper3" >
        <div class="swiper-wrapper">
            <div class="swiper-slide"  *ngFor="let item of slides1">
                <div id="abc1">
                  <h2><b>Our <span>Product</span></b></h2>
                  <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                <img id = "abc"  [src]="item" alt="">
            </div>
            <div class="swiper-slide" *ngFor="let item of slides2">
              <img id = "abc" [src]="item" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
                <div id="abc2">
                  <h4><b>End-to-End Career Assistance</b> </h4>
                  <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
                </div>
            </div>
            <div class="swiper-slide" *ngFor="let item of slides3">
                <div id="abc1">
                  <h4><b>Not Career councelling it is much more</b> </h4>
                  <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img id = "abc"  [src]="item" alt="">
            </div>
            <div class="swiper-slide" *ngFor="let item of slides4">
                <img id = "abc" [src]="item" alt="">&nbsp;&nbsp;
                  <div id="abc2">
                    <h2><b>The Step To <span>Success</span></b></h2>
                    <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
                  </div>
              </div>
              <div class="swiper-slide" *ngFor="let item of slides5">
                <div id="abc1">
                  <h2><b>Become <span>Successful</span></b></h2>
                  <p>Discription about the company.Company give you the details about the career councellor.Most of the student stuggling about their carrer</p>
                </div>&nbsp;&nbsp;&nbsp;
                <img id = "abc"  [src]="item" alt="">
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination3"></div>
          
      </div>
</div>
<div class="container">
    <div class="swiper-container swiper4" >
        <div class="swiper-wrapper">
          <div class="swiper-slide" >
            <div id="abc12">
              <img id="pqr" src={{imagesrc}}>
              <hr><p id="abc121">Name: Kamini
                </p><p>Position : Developer</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div id="abc12">
                <img id="pqr" src={{imagesrc}}>
                <hr><p id="abc121">Name: Kamini
                
              </p><p>Position : Developer</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div id="abc12">
                <img id="pqr" src={{imagesrc}}>
                <hr><p id="abc121">Name: Kamini
                
                  </p><p>Position : Developer</p>
            </div>
          </div>
         
        </div>
      </div>

</div>

<div class="container">
    <img id="footerimg" src={{imagesrc1}}>
    
    
</div>