<div id="blog1">  
    <div id="blog2">
        <h2><b>Send us a</b>&nbsp;<h3><b>Messsge</b></h3></h2>
        <form class="form-inline" >
            
                    <input class="insetreg" name="FirstName" size="15" placeholder="  First Name" type="text" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="LastName" type="text" size="15" placeholder="  Last Name" class="insetreg"  ><br>
                    <input name="Email" type="text" size="15" placeholder="  Email" class="insetreg1"   ><br>
                    <input name="Message" type="text" size="15" placeholder="  Message" class="insetreg2"  ><br>
                    <button class="loginbtn">Submit</button>
              
        </form>
    </div>
</div>
              