
.insetreg { 
    
  border-radius: 15px;
  width: 188px;
  height: 40px;
  padding: 9px;
  margin-top: 10px;
  background-color: rgb(241, 245, 245);
  color: black;
  float: left;
  border:1px solid black;
}
  .insetreg1 { 
     float: left;
      
      height: 43px;
      width: 378px;
      position:relative; 
      
      border-radius: 15px;
     margin-top: 20px;
      background-color: rgb(241, 245, 245);
      border:1px solid black;
      }
      .insetreg2 { 
   float: left;
          
          height: 143px;
          width: 378px;
          position:relative; 
          
          border-radius: 15px;
         margin-top: 20px;
          background-color: rgb(241, 245, 245);
          border:1px solid black;
          }
          .loginbtn { 
          
              font-family:'Voltaire',sans-serif;
              color: white;
            margin-top: 225px;
              border-radius: 15px;
              width: 120px;
              height: 50px;
              margin-left: -120px;
              background-color: rgb(255, 94, 1);}
              
              .loginbtn:focus, .loginbtn:active, .loginbtn.active, .insetreg:active,.loginbtn:focus:active {
              background-image: none;
              outline: none;
              -moz-box-shadow: none;
              -webkit-box-shadow: none;
              box-shadow: none;
              }

    h2 { 

        margin-top: 0px;
        color: rgb(255, 94, 1);
        
        text-align: left;
        font-size: 42px;
        }
    
       span{
         
        
           color: rgb(248, 28, 113);
       }
       


       
#footerimg{
    width: 122%;
    height: 30%;
    margin-left: -150px;
  }
 

   
    li,a{
      list-style-type: none;
      text-align: center;
      color: white;
    }
    h5{
      text-align: center;
      letter-spacing: 0;
      color: #9D9999;
      opacity: 1;
      margin-left: 24px;
      font-size: 20px;
      margin-top: 50px
    }
    #pqr12{
      border: 0px solid black;

      background-color: rgba(0, 0, 0, 0.767);
      margin-top: -40px;
      margin-left: -120px;
      width:120%;
    }
   
    #stay1{
      color: white;
      font-size: 15px;}

    #stay{
      color: rgba(255, 255, 255, 0.726);
      text-align: left;
      margin-left: 0px;
    }

    #gallery1{
      float:left;
      width: 22%;

    }
    #gallery2{
      float:left;
      width: 22%;
    }   
    #gallery3{
      float:left;
      width: 22%;
    }
    #gallery4{
      float:left;
      width: 32%;
    }

    #cnt{
      float: left;
      width:50%;
      
    }
    #cnt1{
      float: left;
      width:25%;
      margin-left: 150px;
      margin-top: 50px;
    }
 

    

    h4{
      font-size: 30px;
      text-align: center;
    }

    #cnc{
      color: black;
    }