<div class="container" id="cnt">
        <h2><b>Send us a <span>Message</span></b></h2>
        <form class="form-inline" >
            
                    <input class="insetreg" name="FirstName" size="15" placeholder="  First Name" type="text" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="LastName" type="text" size="15" placeholder="  Last Name" class="insetreg"  ><br/>
                    <input name="Email" type="text" size="15" placeholder="  Email" class="insetreg1"   ><br/>
                    <input name="Message" type="text" size="15" placeholder="  Message" class="insetreg2"  ><br/>
                    <button class="loginbtn">Submit</button>
              
        </form>
</div>
   
<div class="container" id="cnt1">
    <h4><b>Find Us</b></h4>
   
        <ul type="circle">
            <li id="cnc">
                    Miligen Technologies Private Limited
                    #607, Big Banyan Roots
                    No. 18/1B Carmellaram Road, Off, Sarjapur Main Rd, Carmelaram, Doddakannelli,
                    Bengaluru, Karnataka 560035
            </li>
            <li id="cnc">
                    Contact Number : +91-6261671991
            </li>
            <li id="cnc">Email : snehil@ravspace.com</li>
        </ul>
            

</div>

<div class="container">
        <img id="footerimg" src={{imagesrc1}}>
    </div>
    <div class="container" id="pqr12">
    
        <div  class="container" id="gallery2">
            <h5><b>NAVIGATION</b></h5><br>
            <ul>
            <li><a [routerLink]="['/register']">Sign Up</a></li>&nbsp;
           <li><a [routerLink]="['/aboutus']">About Us</a></li><br>
            <li><a [routerLink]="['/order']">How It Works</a></li><br>
            <li><a [routerLink]="['/register']">Blogs</a></li><br>
             <li><a [routerLink]="['/home']">Career</a></li><br>
             <li><a [routerLink]="['/order']">Contact Us</a></li><br>
            </ul>
            </div>
            <div class="container" id="gallery1">
                <h5><b>LEGAL</b></h5><br>
                <ul>
                <li>Privacy</li>
                <br>
               <li>Policy</li><br>
                <li>Copyright</li><br>
                <li>Terns & Conditions</li><br>
                </ul>
                </div>
                <div class="container" id="gallery3">
                    <h5><b>SOCIAL MEDIA</b></h5><br>
                    <ul>
                    <li>Twitter</li>
                    <br>
                   <li>Instagram</li><br>
                    <li>Facebook</li><br>
                    </ul>
                    </div>
                    <div class="container" id="gallery4">
                        <h5 id="stay"><b>STAY CONNECTED
                        </b></h5><br>
                        <p id="stay1">Subscribe for our newsletter.When you do it
                          it you get akk news before everyone.You will be announced about site updates,new carrers etc.
                        </p>
                        </div>
    </div>