<div class="container">
  <div class="container" id="abc2">
<h1><b>How the Product <span>Work</span></b></h1>
<p>Approach the product with an open mind. If you are confused take the assessment test to get
    help choose a career. Validate the Career with an industry expert to get to know inside out of
    the field you are getting into. Find out growth potential, market value and clear all your doubts.
    Once satisfied find a mentor in your respective field to be guided towards success.
    </p>

</div><video width="400" controls id="video1">
    <source src="mov_bbb.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
</div>

<br/>
<br/>
<br/>
<br/><br/>
<br/><br/>
<br/>
<div class="container">
    <video width="400" controls id="video2"> 
        <source src="mov_bbb.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    <div class="container" id="abc3">
  <h1><b>Product <span>Glimpse</span></b></h1>
  <p>The video showcases the structure of the product and how it can help you in every step in
      detail. Ravspace is designed to handle every career related problem a student faces at each
      step.</p>
  
  </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/><br/>
  <br/><br/>

  <div class="container">
      <img id="footerimg" src={{imagesrc1}}>
  </div>
  <div class="container" id="pqr12">
  
      <div  class="container" id="gallery2">
          <h5><b>NAVIGATION</b></h5><br>
          <ul>
          <li><a [routerLink]="['/register']">Sign Up</a></li>&nbsp;
         <li><a [routerLink]="['/aboutus']">About Us</a></li><br>
          <li><a [routerLink]="['/order']">How It Works</a></li><br>
          <li><a [routerLink]="['/register']">Blogs</a></li><br>
           <li><a [routerLink]="['/home']">Career</a></li><br>
           <li><a [routerLink]="['/order']">Contact Us</a></li><br>
          </ul>
          </div>
          <div class="container" id="gallery1">
              <h5><b>LEGAL</b></h5><br>
              <ul>
              <li>Privacy</li>
              <br>
             <li>Policy</li><br>
              <li>Copyright</li><br>
              <li>Terns & Conditions</li><br>
              </ul>
              </div>
              <div class="container" id="gallery3">
                  <h5><b>SOCIAL MEDIA</b></h5><br>
                  <ul>
                  <li>Twitter</li>
                  <br>
                 <li>Instagram</li><br>
                  <li>Facebook</li><br>
                  </ul>
                  </div>
                  <div class="container" id="gallery4">
                      <h5 id="stay"><b>STAY CONNECTED
                      </b></h5><br>
                      <p id="stay1">Subscribe for our newsletter.When you do it
                        it you get akk news before everyone.You will be announced about site updates,new carrers etc.
                      </p>
                      </div>
  </div>

   