
.form-inline{
float: right;
margin-top: 50px;
}
.nav.navbar-nav{
  float: right;
  color: black;
  font-size: 22px;
  text-decoration: none;
  
}

.navbar.navbar-inverse{
  background-color: transparent;
  text-decoration: none;
  color: black;
}

nav{
  border: white;
  color: black;
}

.nav.navbar-nav li a:hover ,li a:active,a:checked{
  border-bottom: 3px solid rgb(255, 2, 99);
    color: rgb(255, 2, 99); 
}
.insetreg { 
   
  font-family:'Voltaire',
  sans-serif;
  height: 40px;
  width: 180px;
  padding: 9px;
  border-radius: 15px;
  background-color: rgb(241, 245, 245);
  color: black;
  }

  .loginbtn { 
      
    font-family:'Voltaire',sans-serif;
    color: white;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    background-color: rgb(255, 94, 1);}
    
    .loginbtn:focus, .loginbtn:active, .loginbtn.active, .insetreg:active,.loginbtn:focus:active {
    background-image: none;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    }
        
    input[type="text"],input[type="password"], textarea {
    outline: none;
    box-shadow:none !important;
    }

    .container{
      margin-top: 30px;
      
    }


    .nav.navbar-nav li a {
      color: black;
  }