<div class="container">
    <h1><b>Most <span>Popular</span> Careers</b></h1>
    </div>
    <div class="container" id="img1">
    <img src={{imagesrc2}}>
    <div class="bottom-left"><b>Angular Developer</b></div>
    </div>
    
    
    <div class="container" id="img2">
    <img src={{imagesrc3}}>
    <div class="bottom-left"><b>Graphic Designer</b></div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    
    <div class="container" id="img3">
    <img src={{imagesrc4}}>
    <div class="bottom-left"><b>UX/UI Designer</b></div>
    </div>
    <div class="container" id="img4">
    <img src={{imagesrc5}}>
    <div class="bottom-left"><b>Android/IOS App developer</b></div>
    </div>
    
    
    <br/>
    
    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    
    <div class="container">
        <img id="footerimg" src={{imagesrc1}}>
    </div>
    <div class="container" id="pqr12">
    
        <div  class="container" id="gallery2">
            <h5><b>NAVIGATION</b></h5><br>
            <ul>
            <li><a [routerLink]="['/register']">Sign Up</a></li>&nbsp;
           <li><a [routerLink]="['/aboutus']">About Us</a></li><br>
            <li><a [routerLink]="['/order']">How It Works</a></li><br>
            <li><a [routerLink]="['/register']">Blogs</a></li><br>
             <li><a [routerLink]="['/home']">Career</a></li><br>
             <li><a [routerLink]="['/order']">Contact Us</a></li><br>
            </ul>
            </div>
            <div class="container" id="gallery1">
                <h5><b>LEGAL</b></h5><br>
                <ul>
                <li>Privacy</li>
                <br>
               <li>Policy</li><br>
                <li>Copyright</li><br>
                <li>Terns & Conditions</li><br>
                </ul>
                </div>
                <div class="container" id="gallery3">
                    <h5><b>SOCIAL MEDIA</b></h5><br>
                    <ul>
                    <li>Twitter</li>
                    <br>
                   <li>Instagram</li><br>
                    <li>Facebook</li><br>
                    </ul>
                    </div>
                    <div class="container" id="gallery4">
                        <h5 id="stay"><b>STAY CONNECTED
                        </b></h5><br>
                        <p id="stay1">Subscribe for our newsletter.When you do it
                          it you get akk news before everyone.You will be announced about site updates,new carrers etc.
                        </p>
                        </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    