
      body{
        height: 115vh;
  width: 119%;
  background: url("Landing.svg") no-repeat;
  background-size: cover;
  color: white;
  margin-top: -220px;
  margin-left: -110px;
      }
      
    
      .form-inline{
        float: right;
        margin-left: 100px;
        margin-top: 120px;
       
      }

      

.insetreg { 
    
  border-radius: 15px;
  width: 250px;
  height: 40px;
  padding: 9px;
  background-color: rgb(241, 245, 245);
  color: black;
  
}

.btn2{ 
		
  font-family:'Voltaire',sans-serif;
  color: white;

  border-radius: 15px;
  width: 120px;
  height: 45px;
  
  text-align: center;
  box-shadow: #70f148;
  background-color: rgb(255, 94, 1);
  }
  
  .btn1{ 
    
    font-family:'Voltaire',sans-serif;
    color: white;
    border-radius: 15px;
    width: 120px;
    height: 45px;
    text-align: center;
    background-color: rgb(255, 1, 107);}
  
    .btn2:focus,.btn1:focus, .btn2:active, .btn1.active, .insetreg:active,.btn2:focus:active,.btn1:focus:active {
      background-image: none;
      outline: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow:none     }
  
      input[type="text"],input[type="password"], textarea {
      outline: none;
      box-shadow:none !important;
       
      }
      h2{
        color: black;
        font-size: 40px;
      }
      span{
        color: rgb(255, 2, 99);
      }
      